html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.BookBackground {
    position: relative;
    box-sizing: border-box;
    width: 528px;
    height: 403px;
    left: 0px;
    top: 0px;
    background: rgba(255, 209, 103, 0.63);
    border: 1px solid #000000;
    border-radius: 33px;
}

.BookImage {
    position: absolute;
    width: 452px;
    height: 255px;
    left: 38px;
    top: 29px;
    background: #D9D9D9;
    border-radius: 13px;
}

.Price {
    position: absolute;
    width: 68px;
    height: 30px;
    left: 32px;
    top: 312px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.BookName {
    position: absolute;
    width: 286px;
    height: 22px;
    left: 32px;
    bottom: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.Author {
    position: absolute;
    width: 120px;
    height: 22px;
    right: 79px;
    bottom: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

tr:hover {
    background-color: lightyellow;
}

.active-row {
    background-color: aqua;
}

.active-row:hover {
    background-color: aquamarine;
}

.form_search {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.search {
    padding: 30px 0;
    width: 40%;
    font-size: 16px;
}

    .search input {
        box-sizing: border-box;
        width: 100%;
        height: 2.5em;
        padding-left: 1em;
        border: 0.15em solid #7BA7AB;
        border-radius: 3em;
        outline: none;
        background: #F9F0DA;
        color: #9E9C9C;
        font-size: 16px;
    }

    .search button {
        position: absolute;
        top: 0;
        right: 0px;
        width: 2.5em;
        height: 2.5em;
        border: none;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
        border-radius: 3em 3em;
        cursor: pointer;
        font-size: 16px;
    }

    button[type=submit]:hover {
        opacity: 2;
    }

    button[type=submit]:focus,
    input[type=search]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
    }

    .search button:before {
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }