@model BookMarket.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type.TypeName" class="control-label"></label>
                <select asp-for="Type.TypeName" class="form-control" asp-items="ViewBag.TypeName"></select>
                <span asp-validation-for="Type.TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccName" class="control-label"></label>
                <input asp-for="AccName" class="form-control" />
                <span asp-validation-for="AccName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccLastName" class="control-label"></label>
                <input asp-for="AccLastName" class="form-control" />
                <span asp-validation-for="AccLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccMiddleName" class="control-label"></label>
                <input asp-for="AccMiddleName" class="form-control" />
                <span asp-validation-for="AccMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccGender" class="control-label"></label>
                <input asp-for="AccGender" class="form-control" />
                <span asp-validation-for="AccGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccBirthday" class="control-label"></label>
                <input asp-for="AccBirthday" class="form-control" />
                <span asp-validation-for="AccBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccEmail" class="control-label"></label>
                <input asp-for="AccEmail" class="form-control" />
                <span asp-validation-for="AccEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccPhoneRegistration" class="control-label"></label>
                <input asp-for="AccPhoneRegistration" class="form-control" />
                <span asp-validation-for="AccPhoneRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccHashPassword" class="control-label"></label>
                <input asp-for="AccHashPassword" class="form-control" />
                <span asp-validation-for="AccHashPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
