@model BookMarket.Account

@{
    ViewData["Title"] = "Регистрация";
    List<string> genders = new List<string>(2);
    genders.Add("м");
    genders.Add("ж");
}

<h1>Регистрация</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Роль
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeName"></select>
            </div>
            <div class="form-group">
                <label> Имя </label>
                <input asp-for="AccName" class="form-control" />
                <span asp-validation-for="AccName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Фамилия </label>
                <input asp-for="AccLastName" class="form-control" />
                <span asp-validation-for="AccLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Отчество </label>
                <input asp-for="AccMiddleName" class="form-control" />
                <span asp-validation-for="AccMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Пол </label>
                <select asp-for="AccGender" class="form-control" asp-items="new SelectList(genders)"></select>
                <span asp-validation-for="AccGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                Дата рождения :
                <input type="date" id="AccBirthday" name="AccBirthday" />
                @{
                    //<input asp-for="AccBirthday" class="form-control" />
                    //<span asp-validation-for="AccBirthday" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                Электронная почта
                <input asp-for="AccEmail" class="form-control" />
                <span asp-validation-for="AccEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                Телефон
                <input asp-for="AccPhoneRegistration" class="form-control" />
                <span asp-validation-for="AccPhoneRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Пароль </label>
                <input asp-for="AccHashPassword" class="form-control" />
                <span asp-validation-for="AccHashPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
